<div class="filter-panel">
  <h2 class="filter-panel__title">Filter Applications</h2>

  <div class="filter-panel__group">
    <form>
      <fieldset>
        <legend>Sort</legend>
        <div class="filter-panel-field">
          <input type="radio"  name="sort" id="sort1" checked="checked">
          <label for="sort1">Date Created</label>
        </div>

        <div class="filter-panel-field">
          <input type="radio"  name="sort" id="sort2">
          <label for="sort2">Name</label>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="filter-panel__group">
    <form>
      <fieldset>
        <legend>Filter by status</legend>
        <div class="filter-panel-field">
          <input type="checkbox" id="status1">
          <label for="status1">Active</label>
        </div>

        <div class="filter-panel-field">
          <input type="checkbox" id="status2">
          <label for="status2">Failed</label>
        </div>

        <div class="filter-panel-field">
          <input type="checkbox" id="status3">
          <label for="status3">Complete</label>
        </div>
      </fieldset>
    </form>
  </div>
</div>
