@import 'colors.css';

#l-base {
  display: flex;
  position: absolute;
  height: calc(100% - 71px);
  width: 100%;
  flex-grow: 1;
  flex-direction: row;
}

/* Navigation */
#l-left-nav {
  display: flex;
  flex-direction: row;
}

#l-left-nav-primary {
  width: 100px;
  margin: 0;
  background-color: var(--color-green-1);
}

#l-left-nav-secondary {
  width: calc(300px - 2em);
  margin: 0;
  background-color: var(--color-green-2);
}

#l-main {
  height: calc(100% - 71px);
  flex-grow: 1;
  margin-left: 1px;
}

#l-main-header {
  margin-bottom: 1px;
  padding: 1em;
  background-color: var(--color-blue-4);
  color: var(--color-blue-1);

  > h1 {
    margin: 0;
  }
}
