@import 'colors.css';

#l-base {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: calc(100% - 71px);
  position: absolute;
  width: 100%;
}

/* Navigation */
#l-left-nav {
  display: flex;
  flex-direction: row;
}

#l-left-nav-primary {
  background-color: var(--color-green-1);
  margin: 0;
}

#l-left-nav-secondary {
  background-color: var(--color-green-2);
  margin: 0;
  width: calc(300px - 2em);
}

#l-main {
  flex-grow: 1;
  height: calc(100% - 71px);
  margin-left: 1px;
  padding: 0.5em;
}

#l-main-header {
  background-color: var(--color-blue-4);
  color: var(--color-blue-1);
  padding: 1em;

  > h1 {
    margin: 0;
  }
}
