@import 'colors.css';

/* Main header content */

.main-header__title {
  margin-top: 16px;
}

/* Main Content */

.main-content {
  width: 900px;
}

/* Application List */

.application-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.application-tile {
  background-color: var(--color-blue-3);
  text-align: center;
  width: 16.666666667%;

  > a {
    color: #fff;
    display: block;
    padding: 1em 0.5em;
    text-decoration: none;
    transition: background-color 300ms, border-color 300ms;

    &:hover {
      background-color: var(--color-blue-4);
      transition: background-color 300ms, border-color 300ms;
    }
  }
}
