.nav-tile {
  text-align: center;
  color: #eee;

  > a {
    display: block;
    height: 100px;
    padding: .5em;
    padding-right: 1em;
    border-left: 8px solid var(--color-green-1);
    text-decoration: none;
    color: inherit;
    background-color: var(--color-green-1);
    transition: background-color 300ms, border-color 300ms;
  }

  > a:hover {
    background-color: var(--color-green-3);
    border-color: var(--color-green-3);
    transition: background-color 300ms, border-color 300ms;
    color: #fff;
  }

  &.nav-tile__active > a {
    background-color: var(--color-green-3);
    border-color: var(--color-green-4);
  }
}

.nav-tile {
  position: relative;
}

.nav-tile__icon {
  font-size: 4em;
}

.nav-tile__label {
  margin-top: 0;
  padding-bottom: 1em;
  font-size: .8em;
  font-weight: 500;
}

.nav-tile__counter {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 1em;
  height: 1em;
  padding: .3em;
  border-radius: 1em;
  background-color: var(--color-blue-4);
  opacity: .7;
}
